{
  "extends": ["airbnb", "airbnb/hooks"],
  "plugins": ["jest"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "jest/globals": true,
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@components", "./js/react/components/"],
          ["@pages", "./js/react/pages/"],
          ["@utility", "./js/utility"],
          ["@http", "./js/http"],
          ["@api", "./js/api"]
        ],
        "extensions": [".js", ".jsx", ".json"]
      }
    }
  },
  "rules": {
    "react/jsx-props-no-spreading": [2, {
      "html": "ignore",
    }]
  }
}
