name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run-tests:
    runs-on: ubuntu-18.04
    container: node:14-stretch
    services:
      postgres:
        image: postgres:12
        ports: ['5432:5432']
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.12.1'
          otp-version: '24.0.2'
          install-rebar: true
          install-hex: true
      - run: mix deps.get
      - run: mix deps.compile
      - run: npm install --prefix assets
      - run: mix test
        env:
          DB_PASSWORD: postgres
          DB_HOST: postgres
